body {
  margin: 0;
  padding: 0;
  font-family: "Tattoo Museum";
  color: #dbdbdb;
  background-image: url("pics/background.png");
}

header {
  width: 100%;
  height: 16vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: clamp(1.5rem, 3.5vw, 4rem);
  background-image: radial-gradient(rgba(45, 2, 11, 0.8), black 100%);
  /* padding: 0 2rem; */
  margin-bottom: 4rem;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  padding-right: 5rem;
  gap: 2.5rem;
}

.navbar li {
  list-style: none;
  font-size: clamp(1rem, 2.5vw, 2rem);
}

li button {
  font-size: clamp(1rem, 2.5vw, 2rem);
  background: none;
  color: #dbdbdb;
  border: none;
  font-family: "Tattoo Museum";
  cursor: pointer;
}

li button:hover {
  text-decoration: underline;
}

li a {
  text-decoration: none;
  color: #dbdbdb;
}

li a:hover {
  text-decoration: underline;
}

h2 {
  font-size: clamp(2.5rem, 3vw, 4rem);
  text-align: center;
  margin-bottom: 2em;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 2em;
  padding: 0 2em;
  margin-bottom: 5em;
}

img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 8px;
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.product > p {
  margin-top: 0.7rem;
  font-size: 1.8rem;
}

.product > h3 {
  font-size: 2em;
  margin-bottom: 0.5rem;
}

.product-link {
  border: none;
  background: none;
  font-size: 0.8em;
  color: #dbdbdb;
  text-decoration: none;
}

.product-link:hover {
  text-decoration: underline;
  border: solid #dbdbdb 2px;
  padding: 0.5rem 0.9rem;
  border-radius: 10px;
  font-size: 0.75em;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  background-color: black;
  color: #dbdbdb;
  font-size: 2rem;
  gap: 0.7rem;
  font-size: clamp(1.2rem, 3vw, 3rem);
  padding: 1.5rem;
}

footer p {
  margin-right: 0.5em;
  text-align: center;
}

.fab {
  padding: 10px 13px;
  color: #dbdbdb;
  text-decoration: none;
  border: solid 2px #dbdbdb;
  border-radius: 10px;
}

.fab:hover {
  font-size: 1.1em;
}

.toggle-button {
  position: absolute;
  top: 3.2rem;
  right: 2.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 31px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #dbdbdb;
  border-radius: 10px;
}

@media screen and (max-width: 800px) {
  body,
  html {
    overflow-x: hidden;
  }

  .toggle-button {
    display: flex;
  }

  header {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 3rem 3rem 3rem 2rem;
  }

  .navbar {
    display: none;
    width: 100%;
  }

  .navbar ul {
    flex-direction: column;
    gap: 1.3rem;
    width: 100%;
    align-items: center;
    margin-bottom: 0;
  }

  li a {
    font-size: 1.3rem;
  }

  li button {
    font-size: 1.3rem;
  }

  .navbar.active {
    display: flex;
  }

  .product-link {
    text-decoration: underline;
  }
}
